h2 {
  display: inline;
  margin-right: 1em;
}
input {
  height: 2em;
}
.body {
  height: 90vh;
  width: 98vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
button {
  width: 8em;
  height: 2em;
  border: none;
  border-radius: 5px;
  font-size: large;
  transition: all 0.7s ease;
  cursor: pointer;
  font-family: sans-serif;
  background-color: aqua;
}

button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
  letter-spacing: 0.4em;
  transition: all 0.7s ease;
}
